/* Stile base dei link */
.nav-item {
    display: flex;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-md);
    font-weight: 500;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: light-dark(var(--color-gray-15), var(--color-gray-0));
    border-bottom: 2px solid transparent;
    transition: color 0.4s ease, border 0.4s ease-in;
}

/* Stato hover */
.nav-item:hover {
    color: light-dark(var(--color-green-8), var(--color-green-3));
    border-bottom-color: light-dark(var(--color-green-8), var(--color-green-3));
}

/* Stato selezionato */
.nav-item-selected {
    color: light-dark(var(--color-green-10), var(--color-green-6));
    font-weight: 600;
    border-bottom-color: light-dark(var(--color-green-10), var(--color-green-6));
}

/* Mantieni colori selezionato anche a hover */
.nav-item-selected:hover {
    color: light-dark(var(--color-green-10), var(--color-green-6));
    border-bottom-color: light-dark(var(--color-green-10), var(--color-green-6));
}

/* Focus da tastiera */
.nav-item:focus-visible {
    outline: none;
    box-shadow: 0 0 12px 4px rgba(32, 173, 91, 0.2);
    border: light-dark(var(--color-gray-10), var(--color-gray-5));
    color: light-dark(var(--color-gray-13), var(--color-green-3));
    border-radius: 4px;
    transition: color 0.25s ease, box-shadow 0.25s ease, border 0.25s ease;
}

.nav-item-selected:focus-visible {
    outline: none;
    box-shadow: 0 0 14px 4px rgba(220, 252, 231, 0.25);
    border: 1px solid rgba(220, 252, 231, 0.15);
    color: light-dark((var(--color-green-13), var(--color-green-6)));
    border-radius: 4px;
    transition: color 0.25s ease, box-shadow 0.25s ease, border 0.25s ease;
}

/* Overlay mobile */
.mobile-menu-overlay .nav-item {
    width: 100%;
    justify-content: center;
}

.mobile-nav span {
    font-size: var(--font-size-h6);
    color: white;
}

.mobile-nav span:hover {
    color: var(--color-green-7);
}

/* Overlay: stato selezionato */
.mobile-menu-overlay .nav-item-selected,
.mobile-menu-overlay .nav-item-selected span {
    color: light-dark(var(--color-green-10), var(--color-green-6));
    font-weight: 600;
    border-bottom-color: light-dark(var(--color-green-10), var(--color-green-6));
}