.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 3rem;
    margin-bottom: var(--spacing-lg);
}

.colors-info {
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
    border-radius: 0.25rem;
    border: 1px solid;
}