#logo {
    color: light-dark(var(--color-green-10), var(--color-gray-0));
    font-size: var(--font-size-h4);
    font-weight: bold;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo div {
    margin-left: var(--spacing-xs);
}


@media (max-width: 480px) {

    #logo {
        font-size: var(--font-size-h5);
    }
}

@media (max-width: 320px) {

    #logo {
        font-size: var(--font-size-h6);
        margin-left: var(--spacing-zero);
    }
}