#logo-text {
    color: light-dark(var(--color-green-7), var(--color-gray-2));
    font-size: var(--font-size-h4);
    font-weight: bold;
}

@media (max-width: 768px) {

    #logo-text {
        font-size: var(--font-size-h4);
    }
}


@media (max-width: 480px) {

    #logo-text {
        font-size: var(--font-size-h5);
    }
}