.hamburger-menu svg {
    font-size: var(--font-size-h5);
    color: light-dark(var(--color-gray-15), var(--color-gray-0));
}

.hamburger-menu svg:hover {
    color: light-dark(var(--color-green-8), var(--color-green-3));
    transition: color 0.4s ease, border 0.4s ease-in;
}