.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: light-dark(var(--color-gray-0), var(--color-green-10));
    padding: 1.5rem 2rem;
}