.nav-items-list {
    list-style-type: none;
    padding: var(--spacing-zero);
    margin: var(--spacing-zero);
    display: flex;
    color: var(--color-green-10);
    gap: var(--spacing-sm);
}

/* Solo nell'overlay: lista di link in colonna */
.mobile-menu-overlay .nav-links-list,
.mobile-menu-overlay nav ul {
    flex-direction: column;
    gap: var(--spacing-xl);
    list-style: none;
    padding: var(--spacing-zero);
    margin: var(--spacing-zero);
    width: 100%;
    text-align: center;
    margin-top: var(--spacing-xl)
}

@media (max-width:480px) {
    .nav-items-list {
        gap: var(--spacing-xs);
        font-size: var(--spacing-lg);
    }
}